<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>ServiceDefinitionTemplate</title>
</head>
<body>
<h1>ServiceDefinition</h1>

<div>
    <p>
        ROOT URI: $sd.path()
    </p>

    <p>
        Consuming:
    <ul>
        #foreach( $p in $sd.consumeMediaType() )
            <li>${p}</li>
        #end
    </ul>
    </p>
    <p>
        Producing:
    <ul>
        #foreach( $p in $sd.produceMediaType() )
            <li>${p}</li>
        #end
    </ul>
    </p>

</div>
    #foreach( $sh in $sd.serviceHandlers() )
    <h2> ServiceHandler </h2>

    <div>
        <p>
            URI: $sd.path()${sh.path()}
        </p>

        <p>
            Method: ${sh.getHttpMethod()}
        </p>

        #if($sh.consumeClass())
        <p>
            Consuming: $sh.consumeMediaType() using class $sh.consumeClass()
        </p>
        #else
            <p>
            Consuming: $sh.consumeMediaType()
            </p>
        #end

        <p>
            Producing:
        <ul>
            #foreach( $p in $sh.produceMediaType() )
                <li>$p</li>
            #end
        </ul>
        </p>
        <p>
            Action: $sh.action
        </p>
    </div>
    #end
</body>
</html>